# Taxa

## Juros Composto

### Taxa maior para menor

In [ ]:
def getMinorTax(i, n):
  i = i/100
  result = pow((1+i), 1/n) - 1
  return result * 100

### Taxa menor para maior

In [ ]:
def getMajorTax(i, n):
  i = i/100
  result = pow((1+i), n) - 1
  return result * 100

# Juros

## Juros compostos

In [ ]:
def getJurosComposto(vp, i, n):
  i = i/100
  return vp * pow((1+i), n)

# Tabela Price
## Calculadora de prestação

**indice**:  
  *i* = juros (**%**)  
  *prest* = número de prestações em meses (**number**)  
  *value* = valor presente  (**float**)  
  *hasIn* = possui entrada (**True** ou **False**)

In [ ]:
# Valor presente
def getPrice(i, prest, value, hasIn=False):
  i = i/100
  if(hasIn):
      num = i * pow((1+i), (prest-1))
      den = pow((1+i), prest) - 1
      return value * (num/den)

  num = i * pow((1+i), prest)
  den = pow((1+i), prest) - 1
  return value * (num/den)

#Valor Futuro
def getPriceFuture(i, prest, value, isMensal=False):
  i = i/100
  if (isMensal):
    num = value * (pow((1+i), prest) - 1)
    den = i
    return num/den
  
  num = value * i
  den = pow((1+i), prest) - 1
  return num/den

## Exemplos Video Aula

In [ ]:
# Exemplo 1 - video da aula
## Geladeira R$ 800,00
## Prestação 3x
## Juros 5%
## Sem entrada (False)

gel_ex_1 = getPrice(5, 3, 800)
print(f'Prestação ex_1: R$ {gel_ex_1:.2f}')
print('\n')

# Exemplo 2 - video aula
## Mensal = 500
## Prest = 2 anos = 24 meses
## Juros = 0,8% a.m.

gel_ex_2 = getPriceFuture(0.8, 24, 500, True)
print(f'Prestação ex_2: R$ {gel_ex_2:.2f}')
print('\n')

#Exemplo 3
ex_3 = getPrice(5, 4, 10000)
print(f'Prestacao ex_3: R$ {ex_3:.2f}')
print('\n')

# Exemplo 4
ex_4a = getPrice(2, 24, 35000)
ex_4b = getPrice(2, 24, 35000, True)
print(f'Prest. Ex_4 a): R$ {ex_4a:.2f}')
print(f'Prest. Ex_4 b): R$ {ex_4b:.2f}')
print('\n')

valorExemplo_4c = getJurosComposto(35000, 3, 5)
print(f'Valor Present: R$ {valorExemplo_4c:.2f}')
ex_4c = getPrice(2, 24, valorExemplo_4c, True)
print(f'Prest. Ex_4 c): R$ {ex_4c:.2f}')

Prestação ex_1: R$ 293.77


Prestação ex_2: R$ 13171.58


Prestacao ex_3: R$ 2820.12


Prest. Ex_4 a): R$ 1850.49
Prest. Ex_4 b): R$ 1814.20


Valor Present: R$ 40574.59
Prest. Ex_4 c): R$ 2103.16

## TF - Aula 5

### TF 1

In [ ]:
## Geladeira R$ 1868,00
## Prestação 12x
## Juros 1,2%
## Com entrada (True)
tf_1 = getPrice(1.2, 12, 1868, True)
print(f'Resp TF: R$ {tf_1:.2f}')

NameError: ignored

### TF 2

In [ ]:
# TF 2
## Mensal = x
## 24 meses
## Valor 8232,00
## juros = 0.4
tf_2 = getPriceFuture(0.4, 24, 8232) 
print(f'Resp TF: R$ {tf_2:.2f}')

# tf_2 = getPriceFuture(0.4, 24, 327.48, True) 
# print(f'Resp TF: R$ {tf_2:.2f}')

Resp TF: R$ 327.48

### TF 3

In [ ]:
# TF 3 
## Valor 58.703,00
## Parc. 48
## Juros 1% a.m.

tf_3 = getPrice(1, 48, 58703)
print(f'Resp TF: R$ {tf_3:.2f}')

Resp TF: R$ 1545.88

### TF 4

In [ ]:
# TF 4 
## Valor 59.122,00
## Parc. 60
## Juros 14% a.a.

juros_mensal = getMinorTax(14, 60)
print(f'Juros mensais: {juros_mensal:.2f} % a.m.')
print('\n')

tf_4 = getPrice(juros_mensal, 60, 59122)
print(f'Resp TF: R$ {tf_4:.2f}')

Juros mensais: 0.22 % a.m.


Resp TF: R$ 1052.48

### TF 5

In [ ]:
# Mensal 93,00
# 12meses
# 0,5 % a.m.

tf_5 = getPriceFuture(0.5, 12, 93, True)
print(f'Resp TF: R$ {tf_5:.2f}')

Resp TF: R$ 1147.21

# Valor Present Liquido

In [2]:
import numpy as np

def getVplValues(values, i):
  vpl = []
  for index in range(len(values)):
    vpl.append(values[index]/pow(i, index+1))

  return np.array(vpl)

def getVplValuesSum(values, fc):
  return np.sum(values) - fc

## Exemplo Aula

### Ex 1

In [ ]:
values = [250*1000, 320*1000, 380*1000, 280*1000]
vpl = getVplValues(values, 1.2)

vpl_sum = getVplValuesSum(vpl, 750*1000)
print(f'{vpl_sum:.2f}')

[208333.33333333 222222.22222222 219907.40740741 135030.86419753]
35493.83

### EX 2

In [ ]:
values = [45, 35, 50, 35, 30]
values_k = [i*1000 for i in values]
i = 1.3
vpl = getVplValues(values_k, i)
vpl_sum = getVplValuesSum(vpl, 125*1000)
print(f'{vpl_sum:.2f}')

-26581.90

### Ex 3

In [ ]:
values = [70, 70, 55, 55, 55+75]
values_k = [i*1000 for i in values]
i = 1.1
vpl = getVplValues(values_k, i)
vpl_sum = getVplValuesSum(vpl, 250*1000)
print(f'{vpl_sum:.2f}')

31095.43

### Ex 4

In [ ]:
values = [55, 55, 35, 35, 35, 35, 20, 20, 20, 20]
values_k = [i*1000 for i in values]
i = 1.08
vpl = getVplValues(values_k, i)
vpl_sum = getVplValuesSum(vpl, 500*1000)
print(f'{-vpl_sum:.2f}')

260789.88

### EX 5

In [ ]:
values = [300, 300, 300, 300, 300, -200, 350, 350, 350, 350]
values_k = [i*1000 for i in values]
values_k[-1] = values_k[-1] + 1500000
i = 1.1
vpl = getVplValues(values_k, i)
vpl_sum = getVplValuesSum(vpl, 3*1000000)
print(f'{vpl_sum:.2f}')

-771086.58

## TF

In [3]:
values = [62769, 62769, 55000, 55000, 55000]
values[-1] = values[-1] + 75000
i = 1.05
fc = 250000
vpl = getVplValues(values, i)
vpl_sum = getVplValuesSum(vpl, fc)
print(f'{vpl_sum:.2f}')

61331.44

In [4]:
fc = 40
values = [30, 30, 30, -19]
i = 1.07
vpl = getVplValues(values, i)
vpl_sum = getVplValuesSum(vpl, fc)
print(f'{vpl_sum:.2f}')

24.23

In [5]:
fc = 360
i = 1.1
values = [50, 50, 80, 80, 80, 200, 200]
values_k = [i*1000 for i in values]
vpl = getVplValues(values_k, i)
vpl_sum = getVplValuesSum(vpl, fc)
print(f'{vpl_sum:.2f}')

466363.24