# Taxa

## Juros Composto

### Taxa maior para menor

In [38]:
def getMinorTax(i, n):
  i = i/100
  result = pow((1+i), 1/n) - 1
  return result * 100

### Taxa menor para maior

In [39]:
def getMajorTax(i, n):
  i = i/100
  result = pow((1+i), n) - 1
  return result * 100

# Juros

## Juros compostos

In [21]:
def getJurosComposto(vp, i, n):
  i = i/100
  return vp * pow((1+i), n)

# Tabela Price
## Calculadora de prestação

**indice**:  
  *i* = juros (**%**)  
  *prest* = número de prestações em meses (**number**)  
  *value* = valor presente  (**float**)  
  *hasIn* = possui entrada (**True** ou **False**)

In [30]:
# Valor presente
def getPrice(i, prest, value, hasIn=False):
  i = i/100
  if(hasIn):
      num = i * pow((1+i), (prest-1))
      den = pow((1+i), prest) - 1
      return value * (num/den)

  num = i * pow((1+i), prest)
  den = pow((1+i), prest) - 1
  return value * (num/den)

#Valor Futuro
def getPriceFuture(i, prest, value, isMensal=False):
  i = i/100
  if (isMensal):
    num = value * (pow((1+i), prest) - 1)
    den = i
    return num/den
  
  num = value * i
  den = pow((1+i), prest) - 1
  return num/den

## Exemplos Video Aula

In [31]:
# Exemplo 1 - video da aula
## Geladeira R$ 800,00
## Prestação 3x
## Juros 5%
## Sem entrada (False)

gel_ex_1 = getPrice(5, 3, 800)
print(f'Prestação ex_1: R$ {gel_ex_1:.2f}')
print('\n')

# Exemplo 2 - video aula
## Mensal = 500
## Prest = 2 anos = 24 meses
## Juros = 0,8% a.m.

gel_ex_2 = getPriceFuture(0.8, 24, 500, True)
print(f'Prestação ex_2: R$ {gel_ex_2:.2f}')
print('\n')

#Exemplo 3
ex_3 = getPrice(5, 4, 10000)
print(f'Prestacao ex_3: R$ {ex_3:.2f}')
print('\n')

# Exemplo 4
ex_4a = getPrice(2, 24, 35000)
ex_4b = getPrice(2, 24, 35000, True)
print(f'Prest. Ex_4 a): R$ {ex_4a:.2f}')
print(f'Prest. Ex_4 b): R$ {ex_4b:.2f}')
print('\n')

valorExemplo_4c = getJurosComposto(35000, 3, 5)
print(f'Valor Present: R$ {valorExemplo_4c:.2f}')
ex_4c = getPrice(2, 24, valorExemplo_4c, True)
print(f'Prest. Ex_4 c): R$ {ex_4c:.2f}')

Prestação ex_1: R$ 293.77


Prestação ex_2: R$ 13171.58


Prestacao ex_3: R$ 2820.12


Prest. Ex_4 a): R$ 1850.49
Prest. Ex_4 b): R$ 1814.20


Valor Present: R$ 40574.59
Prest. Ex_4 c): R$ 2103.16

## TF - Aula 5

### TF 1

In [47]:
## Geladeira R$ 1868,00
## Prestação 12x
## Juros 1,2%
## Com entrada (True)
tf_1 = getPrice(1.2, 12, 1868, True)
print(f'Resp TF: R$ {tf_1:.2f}')

Resp TF: R$ 166.08

### TF 2

In [37]:
# TF 2
## Mensal = x
## 24 meses
## Valor 8232,00
## juros = 0.4
tf_2 = getPriceFuture(0.4, 24, 8232) 
print(f'Resp TF: R$ {tf_2:.2f}')

# tf_2 = getPriceFuture(0.4, 24, 327.48, True) 
# print(f'Resp TF: R$ {tf_2:.2f}')

Resp TF: R$ 327.48

### TF 3

In [34]:
# TF 3 
## Valor 58.703,00
## Parc. 48
## Juros 1% a.m.

tf_3 = getPrice(1, 48, 58703)
print(f'Resp TF: R$ {tf_3:.2f}')

Resp TF: R$ 1545.88

### TF 4

In [46]:
# TF 4 
## Valor 59.122,00
## Parc. 60
## Juros 14% a.a.

juros_mensal = getMinorTax(14, 60)
print(f'Juros mensais: {juros_mensal:.2f} % a.m.')
print('\n')

tf_4 = getPrice(juros_mensal, 60, 59122)
print(f'Resp TF: R$ {tf_4:.2f}')

Juros mensais: 0.22 % a.m.


Resp TF: R$ 1052.48

### TF 5

In [50]:
# Mensal 93,00
# 12meses
# 0,5 % a.m.

tf_5 = getPriceFuture(0.5, 12, 93, True)
print(f'Resp TF: R$ {tf_5:.2f}')

Resp TF: R$ 1147.21